<!DOCTYPE html>
<html>
    <head>
        <title>Policy Id Total</title>
    </head>
    <body>
        <div id="header"></div>
        <div class="loading" id="loading"></div>
        <div class="container" id="container" style="margin-top:60px;">
        </div>
        <!-- Load jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Load require.js(necessary for loading other scripts) -->
        <script src="/ext-scripts/require.js"></script>
        <!-- Load Common files -->
        <script src="/scripts/loadCommon.js"></script>
    </body>
</html>